# Import 3rd Party Libraries

In [ ]:
import pandas as pd
import numpy as np

from pandas import DataFrame
from pandas import Series

# Read Arizona Census From 2018 CSV (5 years)

In [2]:
df = pd.read_csv(r"C:\Users\user\Desktop\Data_2018.csv")
df.head()

,GEO_ID,NAME,DP02_0001E,DP02_0001EA,DP02_0001M,DP02_0001MA,DP02_0002E,DP02_0002EA,DP02_0002M,DP02_0002MA,...,DP02_0150PM,DP02_0150PMA,DP02_0151PE,DP02_0151PEA,DP02_0151PM,DP02_0151PMA,DP02_0152PE,DP02_0152PM,DP02_0152PMA,DP02_0152PEA
0,Geography,Geographic Area Name,Estimate!!HOUSEHOLDS BY TYPE!!Total households,Annotation of Estimate!!HOUSEHOLDS BY TYPE!!To...,Margin of Error!!HOUSEHOLDS BY TYPE!!Total hou...,Annotation of Margin of Error!!HOUSEHOLDS BY T...,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,Annotation of Estimate!!HOUSEHOLDS BY TYPE!!To...,Margin of Error!!HOUSEHOLDS BY TYPE!!Total hou...,Annotation of Margin of Error!!HOUSEHOLDS BY T...,...,Percent Margin of Error!!COMPUTERS AND INTERNE...,Percent Annotation of Margin of Error!!COMPUTE...,Percent Estimate!!COMPUTERS AND INTERNET USE!!...,Percent Annotation of Estimate!!COMPUTERS AND ...,Percent Margin of Error!!COMPUTERS AND INTERNE...,Percent Annotation of Margin of Error!!COMPUTE...,Percent Estimate!!COMPUTERS AND INTERNET USE!!...,Percent Margin of Error!!COMPUTERS AND INTERNE...,Percent Annotation of Margin of Error!!COMPUTE...,Percent Annotation of Estimate!!COMPUTERS AND ...
1,0500000US04001,"Apache County, Arizona",21936,NaN,1023,NaN,13927,NaN,1048,NaN,...,(X),(X),52.9,NaN,3.4,NaN,35.3,3.5,NaN,NaN
2,0500000US04003,"Cochise County, Arizona",49751,NaN,1727,NaN,31105,NaN,1978,NaN,...,(X),(X),89.7,NaN,2.4,NaN,83,3,NaN,NaN
3,0500000US04005,"Coconino County, Arizona",47275,NaN,2211,NaN,29827,NaN,2311,NaN,...,(X),(X),93.2,NaN,1.9,NaN,81,2.9,NaN,NaN
4,0500000US04013,"Maricopa County, Arizona",1582464,NaN,7714,NaN,1043279,NaN,10065,NaN,...,(X),(X),94.8,NaN,0.2,NaN,88.7,0.4,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Columns: 1218 entries, GEO_ID to DP02_0152PEA
dtypes: object(1218)
memory usage: 2.0+ MB

# Delete Column Title = 001 By Value, Value = Null

In [ ]:
df.drop(['DP02_0001EA','DP02_0001MA'], axis = 1,inplace =True)

# Delete Column Title = 001 To 010 By Value, Value = Null

In [5]:
df.drop(['DP02_0002EA','DP02_0002MA','DP02_0003EA', 'DP02_0003MA'], axis = 1,inplace =True)

In [7]:
df.drop(['DP02_0004MA','DP02_0004EA'], axis = 1,inplace =True)

In [8]:
df.drop(['DP02_0005EA','DP02_0005MA','DP02_0006MA','DP02_0006EA','DP02_0007EA','DP02_0007MA','DP02_0008MA','DP02_0008EA'], axis = 1,inplace =True)

In [9]:
df.drop(['DP02_0009EA','DP02_0009MA','DP02_0010EA','DP02_0010MA'], axis = 1,inplace =True)

# Delete Column Title By Value = 010 To 050, Value = Null

In [10]:
df.drop(['DP02_0011MA','DP02_0011EA','DP02_0012EA', 'DP02_0012MA','DP02_0013EA','DP02_0013MA','DP02_0014EA','DP02_0014MA','DP02_0015EA','DP02_0015MA','DP02_0016EA','DP02_0016MA','DP02_0017MA'], axis = 1,inplace =True)

In [11]:
df.drop(['DP02_0018EA','DP02_0018MA','DP02_0019MA','DP02_0019EA','DP02_0020EA','DP02_0020MA','DP02_0021EA',], axis = 1,inplace =True)

In [12]:
df.drop(['DP02_0021MA','DP02_0022MA','DP02_0022EA','DP02_0023EA','DP02_0023MA','DP02_0024EA','DP02_0024MA'], axis = 1,inplace =True)

In [13]:
df.drop(['DP02_0025EA','DP02_0025MA','DP02_0026EA','DP02_0026MA','DP02_0027MA','DP02_0027EA','DP02_0028MA','DP02_0028EA','DP02_0029MA'], axis = 1,inplace =True)

In [14]:
df.drop(['DP02_0029EA','DP02_0030EA','DP02_0030MA','DP02_0031EA','DP02_0031MA','DP02_0032MA','DP02_0033MA','DP02_0034EA','DP02_0034MA','DP02_0035EA'], axis = 1,inplace =True)

In [15]:
df.drop(['DP02_0036EA','DP02_0036MA','DP02_0037EA','DP02_0038MA','DP02_0039EA','DP02_0040EA','DP02_0040MA','DP02_0041EA','DP02_0042MA','DP02_0043EA'], axis = 1,inplace =True)

In [16]:
df.drop(['DP02_0044EA','DP02_0045MA','DP02_0046EA','DP02_0047EA','DP02_0048EA','DP02_0049MA','DP02_0050MA'], axis = 1,inplace =True)

# Delete Column Title By Value = 050 To 100, Value = Null

In [17]:
df.drop(['DP02_0051EA','DP02_0052MA','DP02_0053MA','DP02_0054EA','DP02_0055MA','DP02_0056MA','DP02_0057EA','DP02_0058MA','DP02_0059EA'], axis = 1,inplace =True)

In [ ]:
df.drop(['DP02_0060MA','DP02_0061MA','DP02_0062EA','DP02_0063MA','DP02_0064MA','DP02_0065MA','DP02_0066M','DP02_0067MA','DP02_0068EA','DP02_0069EA'], axis = 1,inplace =True)

In [18]:
df.drop(['DP02_0071MA','DP02_0072E','DP02_0073EA','DP02_0074MA','DP02_0075M','DP02_0076E','DP02_0077MA','DP02_0078MA','DP02_0079EA'], axis = 1,inplace =True)

In [19]:
df.drop(['DP02_0080EA','DP02_0081MA','DP02_0082MA','DP02_0083MA','DP02_0084EA','DP02_0085MA','DP02_0086EA'], axis = 1,inplace =True)

In [20]:
df.drop(['DP02_0087MA','DP02_0088MA','DP02_0089MA','DP02_0090EA','DP02_0091EA','DP02_0092MA','DP02_0093MA'], axis = 1,inplace =True)

In [21]:
df.drop(['DP02_0094EA','DP02_0095MA','DP02_0096MA','DP02_0097MA','DP02_0098MA','DP02_0099EA','DP02_0100MA'], axis = 1,inplace =True)

# Delete Column Title By Value = 100 To 150, Value = Null

In [23]:
df.drop(['DP02_0101EA','DP02_0102MA','DP02_0103MA','DP02_0104E','DP02_0104EA','DP02_0104MA','DP02_0105MA','DP02_0106MA'], axis = 1,inplace =True)

In [ ]:
df.drop(['DP02_0107MA','DP02_0108MA','DP02_0109EA','DP02_0110MA','DP02_0110MA','DP02_0111MA','DP02_0112EA','DP02_0113MA','DP02_0114EA'], axis = 1,inplace =True)

In [24]:
df.drop(['DP02_0115MA','DP02_0116MA','DP02_0117MA','DP02_0118MA','DP02_0119EA','DP02_0120MA','DP02_0121MA','DP02_0122EA','DP02_0123EA','DP02_0124EA'], axis = 1,inplace =True)

In [25]:
df.drop(['DP02_0125MA','DP02_0126MA','DP02_0127MA','DP02_0128MA','DP02_0129MA','DP02_0130EA','DP02_0130MA','DP02_0131MA','DP02_0132MA','DP02_0133MA','DP02_0134EA','DP02_0135E','DP02_0136MA','DP02_0137M'], axis = 1,inplace =True)

In [ ]:
df.drop(['DP02_0138MA','DP02_0139EA','DP02_0140MA','DP02_0141EA','DP02_0142MA','DP02_0143MA','DP02_0144EA','DP02_0144MA','DP02_0145MA','DP02_0146EA','DP02_0146MA','DP02_0147MA','DP02_0148MA'], axis = 1,inplace =True)

In [ ]:
df.drop(['DP02_0149EA','DP02_0149MA','DP02_0150MA','DP02_0151MA','DP02_0151EA','DP02_0152MA','DP02_0152EA'], axis = 1,inplace =True)

# Delete Column Title By Percentage = 001 To 10, Value = Null

In [ ]:
df.drop(['DP02_0001PEA','DP02_0001PM','DP02_0002PEA','DP02_0002PMA','DP02_0003PEA', 'DP02_0003PMA','DP02_0004PEA','DP02_0004PMA','DP02_0005PMA','DP02_0006PEA','DP02_0007PEA','DP02_0007PMA','DP02_0008PMA','DP02_0008PEA'], axis = 1,inplace =True)

In [26]:
df.drop(['DP02_0009PEA','DP02_0009PMA','DP02_0010PEA','DP02_0010PMA'], axis = 1,inplace =True)

# Delete Column Title By Percentage = 010 To 050, Value = Null

In [34]:
df.drop(['DP02_0011PMA','DP02_0011PEA','DP02_0012PEA', 'DP02_0012PMA','DP02_0013PEA','DP02_0013PMA','DP02_0014PEA','DP02_0014PMA','DP02_0015PEA','DP02_0015PMA','DP02_0016PEA','DP02_0016PMA','DP02_0017PMA'], axis = 1,inplace =True)

In [ ]:
df.drop(['DP02_0018PEA','DP02_0018PMA','DP02_0019PMA','DP02_0019PEA','DP02_0020PEA','DP02_0020PMA','DP02_0021PEA',], axis = 1,inplace =True)

In [ ]:
df.drop(['DP02_0021PMA','DP02_0022PMA','DP02_0022PEA','DP02_0023PEA','DP02_0023PMA','DP02_0024PEA','DP02_0024PMA'], axis = 1,inplace =True)

In [ ]:
df.drop(['DP02_0025PEA','DP02_0025PMA','DP02_0026PEA','DP02_0026PMA','DP02_0027PMA','DP02_0027PEA','DP02_0028PMA','DP02_0028PEA','DP02_0029PMA'], axis = 1,inplace =True)

In [ ]:
df.drop(['DP02_0029PEA','DP02_0030PEA','DP02_0030PMA','DP02_0031PEA','DP02_0031PMA','DP02_0032PMA','DP02_0033PMA','DP02_0034PEA','DP02_0034PMA','DP02_0035PEA'], axis = 1,inplace =True)

In [ ]:
df.drop(['DP02_0036PEA','DP02_0036PMA','DP02_0037PEA','DP02_0038PMA','DP02_0039PEA','DP02_0040PEA','DP02_0040PMA','DP02_0041PEA','DP02_0042PMA','DP02_0043PEA'], axis = 1,inplace =True)

In [ ]:
df.drop(['DP02_0044PEA','DP02_0045PMA','DP02_0046PEA','DP02_0047PEA','DP02_0048PEA','DP02_0049PMA','DP02_0050PMA'], axis = 1,inplace =True)

# Delete Column Title By Percentage = 050 To 100, Value = Null

In [35]:
df.drop(['DP02_0051PEA','DP02_0052PMA','DP02_0053PMA','DP02_0054PEA','DP02_0055PMA','DP02_0056PMA','DP02_0057PEA','DP02_0058PMA','DP02_0059PEA'], axis = 1,inplace =True)

In [36]:
df.drop(['DP02_0060PMA','DP02_0061PMA','DP02_0062PEA','DP02_0063PMA','DP02_0064PMA','DP02_0065PMA','DP02_0066PMA','DP02_0067PMA','DP02_0068PEA','DP02_0069PEA'], axis = 1,inplace =True)

In [ ]:
df.drop(['DP02_0071PMA','DP02_0072PEA','DP02_0073PEA','DP02_0074PMA','DP02_0075PMA','DP02_0076PEA','DP02_0077PMA','DP02_0078PMA','DP02_0079PEA'], axis = 1,inplace =True)

In [ ]:
df.drop(['DP02_0080PEA','DP02_0081PMA','DP02_0082PMA','DP02_0083PMA','DP02_0084PEA','DP02_0085PMA','DP02_0086PEA'], axis = 1,inplace =True)

In [ ]:
df.drop(['DP02_0087PMA','DP02_0088PMA','DP02_0089PMA','DP02_0090PEA','DP02_0091PEA','DP02_0092PMA','DP02_0093PMA'], axis = 1,inplace =True)

In [ ]:
df.drop(['DP02_0094PEA','DP02_0095PMA','DP02_0096PMA','DP02_0097PMA','DP02_0098PMA','DP02_0099PEA','DP02_0100PMA'], axis = 1,inplace =True)

# Delete Column Title By Percentage = 100 To 150, Value = Null

In [37]:
df.drop(['DP02_0101PEA','DP02_0102PMA','DP02_0103PMA','DP02_0104PEA','DP02_0104PEA','DP02_0104PMA','DP02_0105PMA','DP02_0106PMA'], axis = 1,inplace =True)

In [ ]:
df.drop(['DP02_0107PMA','DP02_0108PMA','DP02_0109PEA','DP02_0110PMA','DP02_0110PMA','DP02_0111PMA','DP02_0112PEA','DP02_0113PMA','DP02_0114PEA'], axis = 1,inplace =True)

In [ ]:
df.drop(['DP02_0115PMA','DP02_0116PMA','DP02_0117PMA','DP02_0118PMA','DP02_0119PEA','DP02_0120PMA','DP02_0121PMA','DP02_0122PEA','DP02_0123PEA','DP02_0124PEA'], axis = 1,inplace =True)

In [ ]:
df.drop(['DP02_0125PMA','DP02_0126PMA','DP02_0127PMA','DP02_0128PMA','DP02_0129PMA','DP02_0130PEA','DP02_0130PMA','DP02_0131PMA','DP02_0132PMA','DP02_0133PMA','DP02_0134PEA','DP02_0135PEA','DP02_0136PMA','DP02_0137PMA'], axis = 1,inplace =True)

In [ ]:
df.drop(['DP02_0138PMA','DP02_0139PEA','DP02_0140PMA','DP02_0141PEA','DP02_0142PMA','DP02_0143PMA','DP02_0144PEA','DP02_0144PMA','DP02_0145PMA','DP02_0146PEA','DP02_0146PMA','DP02_0147PMA','DP02_0148PMA'], axis = 1,inplace =True)

In [38]:
df.drop(['DP02_0149PEA','DP02_0149PMA','DP02_0150PMA','DP02_0151PMA','DP02_0151PEA','DP02_0150PEA','DP02_0152PMA','DP02_0152PEA'], axis = 1,inplace =True)

In [ ]:
df.drop(['DP02_0148PEA','DP02_0150PEA',], axis = 1,inplace =True)

# Delete Duplicated Column

In [39]:
df.duplicated(keep=False)

0      False
1      False
2      False
3      False
4      False
       ...
209    False
210    False
211    False
212    False
213    False
Length: 214, dtype: bool

# Columns Checked if duplicated

In [40]:
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [GEO_ID, NAME, DP02_0001E, DP02_0001M, DP02_0002E, DP02_0002M, DP02_0003E, DP02_0003M, DP02_0004E, DP02_0004M, DP02_0005E, DP02_0005M, DP02_0006E, DP02_0006M, DP02_0007E, DP02_0007M, DP02_0008E, DP02_0008M, DP02_0009E, DP02_0009M, DP02_0010E, DP02_0010M, DP02_0011E, DP02_0011M, DP02_0012E, DP02_0012M, DP02_0013E, DP02_0013M, DP02_0014E, DP02_0014M, DP02_0015E, DP02_0015M, DP02_0016E, DP02_0016M, DP02_0017E, DP02_0017M, DP02_0017EA, DP02_0018E, DP02_0018M, DP02_0019E, DP02_0019M, DP02_0020E, DP02_0020M, DP02_0021E, DP02_0021M, DP02_0022E, DP02_0022M, DP02_0023E, DP02_0023M, DP02_0024E, DP02_0024M, DP02_0025E, DP02_0025M, DP02_0026E, DP02_0026M, DP02_0027E, DP02_0027M, DP02_0028E, DP02_0028M, DP02_0029E, DP02_0029M, DP02_0030E, DP02_0030M, DP02_0031E, DP02_0031M, DP02_0032E, DP02_0032EA, DP02_0032M, DP02_0033E, DP02_0033M, DP02_0033EA, DP02_0034E, DP02_0034M, DP02_0035E, DP02_0035M, DP02_0035MA, DP02_0036E, DP02_0036M, DP02_0037E, DP02_0037M, DP02_0037MA, DP02_0038E, DP02_0038M, DP02_0038EA, DP02_0039E, DP02_0039M, DP02_0039MA, DP02_0040E, DP02_0040M, DP02_0041E, DP02_0041M, DP02_0041MA, DP02_0042E, DP02_0042EA, DP02_0042M, DP02_0043E, DP02_0043M, DP02_0043MA, DP02_0044E, DP02_0044M, ...]
Index: []

[0 rows x 1013 columns]

In [41]:
df[df.duplicated()]

Empty DataFrame
Columns: [GEO_ID, NAME, DP02_0001E, DP02_0001M, DP02_0002E, DP02_0002M, DP02_0003E, DP02_0003M, DP02_0004E, DP02_0004M, DP02_0005E, DP02_0005M, DP02_0006E, DP02_0006M, DP02_0007E, DP02_0007M, DP02_0008E, DP02_0008M, DP02_0009E, DP02_0009M, DP02_0010E, DP02_0010M, DP02_0011E, DP02_0011M, DP02_0012E, DP02_0012M, DP02_0013E, DP02_0013M, DP02_0014E, DP02_0014M, DP02_0015E, DP02_0015M, DP02_0016E, DP02_0016M, DP02_0017E, DP02_0017M, DP02_0017EA, DP02_0018E, DP02_0018M, DP02_0019E, DP02_0019M, DP02_0020E, DP02_0020M, DP02_0021E, DP02_0021M, DP02_0022E, DP02_0022M, DP02_0023E, DP02_0023M, DP02_0024E, DP02_0024M, DP02_0025E, DP02_0025M, DP02_0026E, DP02_0026M, DP02_0027E, DP02_0027M, DP02_0028E, DP02_0028M, DP02_0029E, DP02_0029M, DP02_0030E, DP02_0030M, DP02_0031E, DP02_0031M, DP02_0032E, DP02_0032EA, DP02_0032M, DP02_0033E, DP02_0033M, DP02_0033EA, DP02_0034E, DP02_0034M, DP02_0035E, DP02_0035M, DP02_0035MA, DP02_0036E, DP02_0036M, DP02_0037E, DP02_0037M, DP02_0037MA, DP02_0038E, DP02_0038M, DP02_0038EA, DP02_0039E, DP02_0039M, DP02_0039MA, DP02_0040E, DP02_0040M, DP02_0041E, DP02_0041M, DP02_0041MA, DP02_0042E, DP02_0042EA, DP02_0042M, DP02_0043E, DP02_0043M, DP02_0043MA, DP02_0044E, DP02_0044M, ...]
Index: []

[0 rows x 1013 columns]

# Reset The Sequence

In [42]:
df.reset_index(drop=True)

,GEO_ID,NAME,DP02_0001E,DP02_0001M,DP02_0002E,DP02_0002M,DP02_0003E,DP02_0003M,DP02_0004E,DP02_0004M,...,DP02_0148PMA,DP02_0148PEA,DP02_0149PE,DP02_0149PM,DP02_0150PE,DP02_0150PM,DP02_0151PE,DP02_0151PM,DP02_0152PE,DP02_0152PM
0,Geography,Geographic Area Name,Estimate!!HOUSEHOLDS BY TYPE!!Total households,Margin of Error!!HOUSEHOLDS BY TYPE!!Total hou...,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,Margin of Error!!HOUSEHOLDS BY TYPE!!Total hou...,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,Margin of Error!!HOUSEHOLDS BY TYPE!!Total hou...,Estimate!!HOUSEHOLDS BY TYPE!!Total households...,Margin of Error!!HOUSEHOLDS BY TYPE!!Total hou...,...,Percent Annotation of Margin of Error!!ANCESTR...,Percent Annotation of Estimate!!ANCESTRY!!Tota...,Percent Estimate!!ANCESTRY!!Total population!!...,Percent Margin of Error!!ANCESTRY!!Total popul...,Percent Estimate!!COMPUTERS AND INTERNET USE!!...,Percent Margin of Error!!COMPUTERS AND INTERNE...,Percent Estimate!!COMPUTERS AND INTERNET USE!!...,Percent Margin of Error!!COMPUTERS AND INTERNE...,Percent Estimate!!COMPUTERS AND INTERNET USE!!...,Percent Margin of Error!!COMPUTERS AND INTERNE...
1,0500000US04001,"Apache County, Arizona",21936,1023,13927,1048,4699,769,8137,951,...,N,N,N,N,21936,(X),52.9,3.4,35.3,3.5
2,0500000US04003,"Cochise County, Arizona",49751,1727,31105,1978,11722,1658,23517,1854,...,NaN,NaN,0.2,0.2,49751,(X),89.7,2.4,83,3
3,0500000US04005,"Coconino County, Arizona",47275,2211,29827,2311,10121,1501,22621,1951,...,NaN,NaN,0,0.1,47275,(X),93.2,1.9,81,2.9
4,0500000US04013,"Maricopa County, Arizona",1582464,7714,1043279,10065,455470,7537,754513,9849,...,NaN,NaN,0.2,0.1,1582464,(X),94.8,0.2,88.7,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,1600000US0684200,"West Covina city, California",30333,1437,24247,1111,9137,1132,16121,1370,...,N,N,N,N,30333,(X),96.2,1.3,89.7,2.6
210,1600000US0684550,"Westminster city, California",27019,1824,21455,1248,9541,1098,15789,1343,...,NaN,NaN,0,0.2,27019,(X),93.7,2,88.4,2.9
211,1600000US0685292,"Whittier city, California",27672,1443,18771,782,8103,970,12403,1174,...,NaN,NaN,0,0.2,27672,(X),92.2,2.4,82.9,3.1
212,1600000US0686832,"Yorba Linda city, California",23217,1062,18306,844,7724,853,15450,1159,...,NaN,NaN,0.2,0.2,23217,(X),97.9,1,96.9,1.4
213,1600000US0686972,"Yuba City city, California",22524,1124,16459,1281,6907,893,11166,1199,...,NaN,NaN,0.2,0.3,22524,(X),90.6,3.4,85.5,3.4

# Replace Data Value, Value= N/Null

In [44]:
df["DP02_0036E"] = df["DP02_0036E"].str.replace("N","MANAGEMENT")

In [46]:
df["DP02_0036E"]

0      Estimate!!FERTILITY!!MANAGEMENTumber of women ...
1                                                    618
2                                                    786
3                                                    692
4                                                  60967
                             ...
209                                                  578
210                                                  614
211                                                  884
212                                                  934
213                                                 1188
Name: DP02_0036E, Length: 214, dtype: object

In [47]:
df["DP02_0036M"] = df["DP02_0036M"].str.replace("N","Zero")

In [48]:
df["DP02_0036M"]

0      Margin of Error!!FERTILITY!!Zeroumber of women...
1                                                    311
2                                                    373
3                                                    312
4                                                   4427
                             ...
209                                                  335
210                                                  351
211                                                  497
212                                                  535
213                                                  507
Name: DP02_0036M, Length: 214, dtype: object

In [49]:
df["DP02_0037E"] = df["DP02_0037E"].str.replace("N","Zero")

In [ ]:
df["DP02_0037M"] = df["DP02_0037M"].str.replace("N","Zero")

In [ ]:
df["DP02_0038E"] = df["DP02_0038E"].str.replace("N","Zero")

In [ ]:
df["DP02_0038M"] = df["DP02_0038M"].str.replace("N","Zero")

In [50]:
df["DP02_0039E"] = df["DP02_0039E"].str.replace("N","Zero")

# Data Reflection

In [51]:
df["DP02_0042PMA"].unique()

array(['Percent Annotation of Margin of Error!!FERTILITY!!Number of women 15 to 50 years old who had a birth in the past 12 months!!Per 1,000 women 35 to 50 years old',
       '(X)', 'N'], dtype=object)

In [54]:
df['DP02_0122PMA'] = df['DP02_0122PMA'].map({'(X)':'Null','N':'Null'})

In [55]:
df["DP02_0042PMA"].unique()

array(['Percent Annotation of Margin of Error!!FERTILITY!!Number of women 15 to 50 years old who had a birth in the past 12 months!!Per 1,000 women 35 to 50 years old',
       '(X)', 'N'], dtype=object)